<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Add Student</h1>

    <form method="POST">

        <label>Student Name</label>

        <input
            type="text"
            name="student_name"
            placeholder="Enter student name"
            required
        >

        <button type="submit">
            Add Student
        </button>

    </form>

    <a href="{{ url_for('dashboard') }}">
        Back to Dashboard
    </a>

</div>

</body>
</html>